:root {
  --title-font: "Libre Baskerville", serif;
  --secondary-font: "Nunito Sans", sans-serif;
}

body {
  margin-top: 50px;
}
.navbar-brand {
  font-family: var(--title-font);
}
.description {
  padding: 120px 60px 120px 0px;
}
#navbarNav a {
  font-family: var(--secondary-font);
}
.navbar {
  padding-left: 20px 20px;
}

.main {
  padding: 160px 20px;
  background-image: url("/img/photo-1.jpg");
  background-size: cover;
}
.p-port {
  font-size: 15px;
  color: #49494a;
  font-family: var(--secondary-font);
}

.main-button {
  border: 1px solid white;
  color: white;
  font-family: var(--secondary-font);
  font-weight: light;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  margin: 20px;
}
.featured {
  background-color: #f8f9fa;
}
.main-button:hover {
  color: black;
  background-color: white;
}

.secondary-button {
  border: 1px solid black;
  background-color: white;
  color: black;
  font-family: var(--secondary-font);
  font-weight: light;
  padding: 15px 25px 15px 25px;
  border-radius: 10px;
  margin-top: 20px;
}

.img-homepage {
  max-width: 80%;
}

.img-mobile {
  background-color: #f8f9fa;
  margin: 20px auto;
}

.footer i {
  margin: 20px;
  font-size: 35px;
  direction: flex;
}
.name-alex {
  font-family: var(--secondary-font);
  font-size: 15px;
}

h1 {
  font-size: 80px;
  font-family: var(--title-font);
  color: white;
}
h3 {
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 35px;
  font-family: var(--title-font);
  text-align: left;
}
h4 {
  font-family: var(--title-font);
  font-size: 30px;
}
p {
  color: white;
  font-family: var(--secondary-font);
  font-weight: light;
  font-size: 15px;
}

@media (max-width: 992px) {
  .description {
    margin-top: 50px;
    padding: 0px;
  }

  .secondary-button {
    display: block;
  }
  h4 {
    font-size: 30px;
  }
  h1 {
    font-size: 60px;
  }
  .top-desc {
    display: none;
  }
  h2 {
    font-size: 30px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}
