:root {
  --title-font: "Playfair Display", serif;
  --secondary-font: "Nunito Sans", sans-serif;
  --background-color: #f8f9fa;
  --secondary-color: #49494a;
  --third-color: #ce5656;
}

body {
  margin-top: 56px;
}

.navbar {
  background-color: #060606;
}
.navbar-brand {
  font-family: var(--secondary-font);
  padding-left: 30px;
  font-weight: bolder;
  font-size: 20px;
}

.description {
  padding: 100px 60px 120px 0px;
}
#navbarNav a {
  font-family: var(--secondary-font);
  font-size: 18px;
  margin: 5px;
}
.navbar-toggler i {
  font-size: 30px;
  color: var(--third-color);
}

.main {
  padding: 160px 20px 225px 10px;
  background-image: url("/img/photo-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.p-port {
  font-size: 15px;
  color: var(--secondary-color);
  font-family: var(--secondary-font);
}

.main-button {
  border: 1px solid white;
  color: white;
  font-family: var(--secondary-font);
  font-weight: light;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  margin: 20px;
}
.featured {
  background-color: var(--background-color);
  color: var(--third-color);
}
.main-button:hover {
  color: white;
  background-color: var(--third-color);
  transition: all 150ms ease-in-out;
  border: 1px solid #ce5656;
}

.secondary-button {
  border: 1px solid white;
  background-color: black;
  color: white;
  font-family: var(--secondary-font);
  font-weight: light;
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  margin-top: 20px;
}

.secondary-button:hover {
  color: var(--third-color);
  border: 1px solid black;
  background-color: black;
}

.img-homepage {
  max-width: 80%;
}

.img-mobile {
  background-color: var(--background-color);
  margin: 20px auto;
}

.footer {
  background-color: var(--background-color);
}
.footer i {
  padding: 25px;
  font-size: 25px;
}
.name-alex {
  font-family: var(--secondary-font);
  margin: 15px 5px 0px 0px;
  font-size: 15px;
}

.shecodes-link a {
  font-weight: bold;
  margin: 8px 0px 0px 5px;
  font-size: 25px;
  color: var(--third-color);
}
.shecodes-link a:hover {
  color: var(--third-color);
  text-decoration: underline;
}

.footer i:hover {
  color: var(--third-color);
  transition: all 150ms ease-in-out;
}

h1 {
  font-size: 90px;
  font-family: var(--title-font);
  color: var(--third-color);
}

h3 {
  font-family: var(--secondary-font);
  font-size: 20px;
  color: white;
}

h2 {
  font-size: 35px;
  font-family: var(--title-font);
  text-align: left;
}

h4 {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 30px;
}
p {
  color: white;
  font-family: var(--secondary-font);
  font-weight: light;
  font-size: 15px;
}
/* about */
/* about */
/* about */
/* about */
/* about */

.camera-desc h5 {
  font-family: var(--secondary-font);
  font-size: 15px;
}
.camera-desc a {
  color: var(--secondary-color);
  text-decoration: none;
}

.camera-desc a:hover {
  color: var(--third-color);
  text-decoration: underline;
}
.main-desc-about p {
  padding-right: 30px;
  color: black;
  font-size: 15px;
}

.about-section {
  padding: 30px 60px 30px 60px;
  margin-bottom: 100px;
}

.main-desc-about h2 {
  font-size: 80px;
  color: black;
  font-weight: 900;
}
.desc-about {
  margin-left: 20px;
  font-size: 15px;
  color: var(--third-color);
  font-weight: bold;
}

.about-img,
.camera {
  max-width: 80%;
}
.camera {
  width: 60%;
  background-color: var(--background-color);
}
.camera-img {
  width: 60%;
}

/* contact */
/* contact */
/* contact */
/* contact */
/* contact */

.section-contact-page {
  margin-bottom: 100px;
}

.section-contact {
  font-family: var(--secondary-font);
  background-color: var(--background-color);
}
.section-contact h2 {
  font-size: 40px;
  font-weight: 900;
}

.section-contact p {
  font-family: var(--secondary-font);
  margin: 10px;
  color: black;
  font-size: 20px;
}

.social-links a {
  font-size: 20px;
  margin-bottom: 30px;
}

.social-links a:hover {
  text-decoration: underline;
  color: var(--third-color);
}

.section-contact-page h1 {
  font-family: var(--title-font);
  font-weight: 900;
  color: var(--third-color);
  font-size: 40px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
}

/* gallery */
/* gallery */
/* gallery */
/* gallery */
/* gallery */
/* gallery */
/* gallery */

.title-galleries {
  color: var(--third-color);
  font-size: 25px;
}
.gallery-head h2 {
  margin: 150px 0px 190px 0px;
  font-size: 80px;
  font-weight: 900;
  color: var(--third-color);
}
.gallery-head {
  background-image: url("/img/gallery.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 0px 90px 0;
  margin-bottom: 60px;
}
/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */
/* media queries */

@media (max-width: 992px) {
  .camera-desc h5 {
    padding: 40px 5px 40px 5px;
  }
  .camera img {
    margin-top: 30px;
  }
  .description {
    margin-top: 50px;
    padding: 0px;
  }

  .secondary-button {
    display: block;
  }
  h4 {
    font-size: 30px;
  }
  h1 {
    font-size: 55px;
  }

  h2 {
    font-size: 25px;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  h3 {
    font-size: 15px;
  }

  p {
    font-size: 13px;
  }
  /* media queries-about */

  .main-desc-about h2 {
    font-size: 55px;
    color: black;
  }
  .about-img {
    max-width: 100%;
  }

  .camera-img,
  .camera {
    width: 80%;
  }
  .camera {
    display: block;
    margin: 0 auto;
  }
  .desc-about {
    margin-bottom: 30px;
  }
  .desc-about-top {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-desc-about h2 {
    font-size: 55px;
    color: black;
  }
  .desc-about {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .main-desc-about h2 {
    font-size: 60px;
  }

  .section-contact h2 {
    font-size: 40px;
  }

  /* media queries-contact */
}

@media (max-width: 768px) {
  .about-section {
    padding: 60px 40px 5px 40px;
    margin-bottom: 100px;
  }

  .main-desc-about h2 {
    text-align: center;
    font-size: 45px;
  }
  .section-contact h2 {
    font-size: 35px;
    text-align: center;
  }
  .section-contact p {
    font-size: 15px;
  }
  .social-links a {
    font-size: 15px;
  }
  .section-contact-page h1 {
    font-size: 35px;
  }

  .name-alex {
    margin-top: 12px;
    font-size: 12px;
  }

  .footer i {
    padding: 20px;
  }
  .shecodes-link a {
    font-size: 22px;
  }

  /* gallery */
  /* gallery */
  /* gallery */
  /* gallery */

  .img-1,
  .img-2,
  .img-3,
  .img-4,
  .img-5,
  .img-6,
  .img-7,
  .img-8,
  .img-9,
  .img-10,
  .img-11,
  .img-12,
  .img-13,
  .img-14,
  .img-15,
  .img-16,
  .img-17 {
    margin: 10px 0px 10px 0px;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .name-alex {
    display: none;
  }
  h2 {
    font-size: 25px;
  }

  .section-contact h2 {
    font-size: 30px;
  }
  .section-contact p {
    font-size: 15px;
  }

  .camera-desc h5 {
    font-size: 15px;
    padding: 5px 0px 0px 0px;
  }
  .camera img {
    margin-top: 20px;
  }
}
